
<form #AdminSongForm="ngForm" (ngSubmit)="AdminSongForm.valid && onSubmit(AdminSongForm)">
       
    <input type="submit" value="Get Song" >



    <div  *ngIf ="searchIF">
      <ul *ngFor ="let index of this.song; let i = index">
        
        <li >Name of Song: {{song[i].Title}} 
          <button (click) = "getdetails(i)">show all</button>
          <div *ngIf ="detail[i]">
            <p>Artist: {{song[i].Artist}}</p>
            <p>Album: {{song[i].Album}}</p>
            <p>Year: {{song[i].year}}</p>
            <p>Comments: {{song[i].Comments}}</p>
            <p>Reserved: {{song[i].Reserved}}</p>  
            <p>Track: {{song[i].Track}}</p>
            <p>Genre: {{song[i].Genre}}</p>
            <p>Average Rating: {{song[i].AvRate}}</p>
            <p>Number of Reviews: {{song[i].NumRate}}</p>
            <p>type: {{song[i].type}}</p>
            <!--<p>Most Recent Reviews: {{song[i].MostRecent}}</p>-->
        
            </div>
         
          <button (click) = "setSongsType(song[i].Title, song[i].type)">Change Song Type</button>
          <button *ngIf ="judge" (click) = "addreviews(song[i].Title, song[i].type)">add review</button>
           
                                 
        </li>
      </ul>
 
     </div>
          
    </form>
        
        <!-- Success message -->
        <div class="success" *ngIf="showSucessMessage">
          Saved successfully
        </div>
        
        <!-- Error message -->
        <div class="alert" *ngIf="serverErrorMessages">
          {{serverErrorMessages}}
        </div>
