<form #playlistReadFormm="ngForm" (ngSubmit)="onSubmit(playlistReadForm)">
       

  <input type="submit" value="playlistReadForm">


  <div  *ngIf ="playlistIF">
    <ul *ngFor ="let index of this.playlist; let i = index">
      <!--<ul *ngFor ="let index of this.songs; let j = index">-->
      <li >Playlist Name: {{playlist[i].playlistN}} 

          <ul *ngFor ="let index of this.playlist[i].songs; let j = index">
            <p >Owner Name: {{playlist[i].owner}} </p >
               <p >Song Name: {{playlist[i].songs[j]}}</p >

               <button (click) = "removeSong(playlist[i], playlist[i].songs[j])">remove</button> 
          
          </ul>
                       
      </li>
    
  </ul>
   </div>
        
  </form>
      
      <!-- Success message -->
      <div class="success" *ngIf="showSucessMessage">
        Remove successfully
      </div>
      
      <!-- Error message -->
      <div class="alert" *ngIf="serverErrorMessages">
        {{serverErrorMessages}}
      </div>