<form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
  

    <input type="text" #email="ngModel" [(ngModel)]="homeService.selectedUser.username" name="username" placeholder="Username"
    required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !username.valid }">
    <div *ngIf="signUpForm.submitted && email.errors">
      <label *ngIf="username.errors.required" class="validation-message">This field is required.</label>
      <label *ngIf="username.errors.pattern" class="validation-message">Invalid email address.</label>
    </div>

    <input type="password" #password="ngModel" [(ngModel)]="homeService.selectedUser.password" name="password" placeholder="Password"
    minlength="4" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
    <div *ngIf="signUpForm.submitted && password.errors">
      <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
      <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 4 characters.</label>
    </div>

    <input type="submit" value="Sign Up">

  </form>
  
  <!-- Success message -->
  <div class="success" *ngIf="showSucessMessage">
    Saved successfully
  </div>
  
  <!-- Error message -->
  <div class="alert" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
  </div>
