<header>
<div>
    <a href="#"> Western Music</a>
    <nav>
      <ul>
        <button routerLink="/about-us"  routerLinkActive="active">About us</button>
        <button routerLink="/login"  routerLinkActive="active">Login & Signup</button>
  
        <button routerLink="/reviewread" routerLinkActive="active">Review</button>
        <button routerLink="/playlistcreate"  outerLinkActive="active">Playlist</button>
        <button routerLink="/songcreate"  outerLinkActive="active">Song</button>
     </ul>
    </nav>
    
</div>
</header>


<div>
    <router-outlet></router-outlet>
</div>
