
$primary: #69199e;

  header {
    background-color: $primary;
    padding: 2em 0;
    
    a {
        color: white;
        text-decoration: none;
    }

    a.logo {
        font-weight: bold;
    }
    
    nav {
        float: right;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            li a {
                padding: 1em;

                &:hover {
                    background: darken($primary, 10%);
                }

            }
        }
    }
}