


<form class="wrapper" #reviewCreateForm="ngForm" (ngSubmit)="reviewCreateForm.valid && onSubmit(reviewCreateForm)">
  
  <div id="formContent">
    <h2 routerLink="/reviewcreate"  routerLinkActive="active"> create review </h2>
      <h2 routerLink="/reviewcreate"  routerLinkActive="active"> create review </h2>
    <input type="text" #comment="ngModel" [(ngModel)]="reviewService.selectedReview.comment" name="comment" placeholder="comment">

       
    <input type="submit" value="Create review">

  </div>
          
    </form>
        
        <!-- Success message -->
        <div class="success" *ngIf="showSucessMessage">
          Saved successfully
        </div>
        
        <!-- Error message -->
        <div class="alert" *ngIf="serverErrorMessages">
          {{serverErrorMessages}}
        </div>
