
<form #AdminUserForm="ngForm" (ngSubmit)="AdminUserForm.valid && onSubmit(AdminUserForm)">
       
    <input type="submit" value="Get Users" >



    <div  *ngIf ="searchIF">
      <ul *ngFor ="let index of this.user; let i = index">
        
        <li > 
          <p>Email: {{user[i].email}}</p>
          <p>Type: {{user[i].type}}</p>
          <p>Status: {{user[i].status}}</p>
         
         
            <button (click) = "setUsersType(user[i].email, user[i].type)">Change User Type</button>
            <button (click) = "setUsersStatus(user[i].email, user[i].status)">Change User Status</button>
              
                                 
        </li>
      </ul>
 
     </div>
          
    </form>
        
        <!-- Success message -->
        <div class="success" *ngIf="showSucessMessage">
          Saved successfully
        </div>
        
        <!-- Error message -->
        <div class="alert" *ngIf="serverErrorMessages">
          {{serverErrorMessages}}
        </div>
