

<form class="wrapper" #playlistCreateForm="ngForm" (ngSubmit)="playlistCreateForm.valid && onSubmit(playlistCreateForm)">
  <div id="formContent">
    <h2 routerLink="/playlistcreate"  routerLinkActive="active"> create playlist </h2>
    <input type="text" #Title="ngModel" [(ngModel)]="playlistService.selectedPlaylist.playlistN" name="playlistN" placeholder="Playlist Name">
    <input type="text" #Title="ngModel" [(ngModel)]="playlistService.selectedPlaylist.description" name="description" placeholder="Description">
       
    <input type="submit" value="Add to Playlist">
     </div>     
    </form>
        
        <!-- Success message -->
        <div class="success" *ngIf="showSucessMessage">
          Saved successfully
        </div>
        
        <!-- Error message -->
        <div class="alert" *ngIf="serverErrorMessages">
          {{serverErrorMessages}}
        </div>
