
<form #reviewReadForm="ngForm" (ngSubmit)="reviewReadForm.valid && onSubmit(reviewReadForm)">
  
  <input type="submit" value="Read reviews" >

  <div  *ngIf ="reviewIF">
      <ul *ngFor ="let index of this.review; let i = index">
        
      
     <li>
          <p>Song Name: {{review[i].songN}}</p>  
            <p>Comment: {{review[i].comment}}</p>
            <p>Rating: {{review[i].rating}}</p>
            <p>Owner: {{review[i].owner}}</p>
            <p>Time: {{review[i].time}}</p>
           
            <br/><br/>
        
            
          </li>                      
      
      </ul>
 
     </div>

  </form>
      
      <!-- Success message -->
      <div class="success" *ngIf="showSucessMessage">
        Saved successfully
      </div>
      
      <!-- Error message -->
      <div class="alert" *ngIf="serverErrorMessages">
        {{serverErrorMessages}}
      </div>